<form action="/stations/${_station.id}/addreading" method="POST">
  <div class="columns">
    <div class="field column">
      <!-- <label class="label">Add a new reading</label> -->
      <div class="control">
        <input class="input" placeholder="Weather code" type="text" name="code">
      </div>
    </div>
    <div class="field column">
      <!-- <label class="label"></label> -->
      <div class="control">
        <input class="input" placeholder="Temperature" type="number" name="temperature">
      </div>
    </div>
    <div class="field column">
      <!-- <label class="label">Windspeed</label> -->
      <div class="control">
        <input class="input" placeholder="Wind speed" type="number" name="windSpeed">
      </div>
    </div>
    <div class="field column">
      <!-- <label class="label">Windspeed</label> -->
      <div class="control">
        <input class="input" placeholder="Wind direction" type="number" name="windDirection">
      </div>
    </div>
    <div class="field column">
      <!-- <label class="label">Windspeed</label> -->
      <div class="control">
        <input class="input" placeholder="Pressure" type="number" name="pressure">
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <div class="control">
      <button class="button is-info">Add Reading</button>
    </div>
  </div>
</form>