<form action="/dashboard/addstation" method="POST">
  <div class="columns">
    <div class="field column">
      <div class="control">
        <input class="input" placeholder="Station Name" type="text" name="name" required>
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <input class="input" placeholder="Station Latitude" type="text" name="latitude" required>
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <input class="input" placeholder="Station Longitude" type="text" name="longitude" required>
      </div>
    </div>
  <div class="field mt-4">
    <button class="button is-info">Add Station</button>
  </div>
</form>