<form action="/dashboard/addstation" method="POST">
  <div class="columns">
    <div class="field column">
      <div class="control has-icons-left">
        <input class="input is-rounded" placeholder="Station Name" type="text" name="name" required>
        <span class="icon is-small is-left">
          <i class="fas fa-location-crosshairs"></i>
        </span>
      </div>
    </div>
    <div class="field column">
      <div class="control has-icons-left">
        <input class="input is-rounded" placeholder="Station Latitude" type="number" name="latitude" required>
        <span class="icon is-small is-left">
          <i class="fas fa-compass"></i>
        </span>
      </div>
    </div>
    <div class="field column">
      <div class="control has-icons-left">
        <input class="input is-rounded" placeholder="Station Longitude" type="number" name="longitude" required>
        <span class="icon is-small is-left">
          <i class="fas fa-compass"></i>
        </span>
      </div>
    </div>
  <div class="field mt-4">
    <button class="button is-info">Add Station</button>
  </div>
</form>