<h2 class="subtitle">Update your details</h2>
<form action="/account/editmember" method="POST">
  <div class="columns">
    <div class="field column">
      <div class="control">
        <label>First Name</label>
        <input class="input" placeholder="${_member.firstname}" type="text" name="firstname" required>
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <label>Last Name</label>
        <input class="input" placeholder="${_member.lastname}" type="text" name="lastname" required>
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <label>Email</label>
        <input class="input" placeholder="${_member.email}" type="email" name="email" required>
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <label>Password</label>
        <input class="input" placeholder="${_member.password}" type="password" name="password" required>
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <div class="control">
      <button class="button is-info">Submit new details</button>
    </div>
  </div>
</form>
