#{extends 'main.html' /}
#{set title:'Account' /}

#{menu id:"account"/}

<div class="content box">
    <h1 class="title">Your details</h1>
    <div>
        <table class="table">
            <tbody>
            <tr>
                <td><i class="fas fa-circle-user"></i> First name:</td>
                <td></td>
                <td>${member.firstname}</td>
            </tr>
            <tr>
                <td><i class="fas fa-user"></i> Last name:</td>
                <td></td>
                <td>${member.lastname}</td>
            </tr>
            <tr>
                <td><i class="fas fa-envelope"></i> Email:</td>
                <td></td>
                <td>${member.email}</td>
            </tr>
            <tr>
                <td><i class="fas fa-user-secret"></i> Password:</td>
                <td></td>
                <td>*****</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

#{editmember member:member /}
