#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}

<div class="content box">
  <h1 class="title">
    All readings in the database:
  </h1>
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>ID </th>
      <th>Location</th>
      <th>Weather</th>
      <th>Windspeed</th>
    </tr>
    </thead>
    <tbody>
    #{list items:readings, as:'reading'}
    <tr>
      <td>
        ${reading.id}
      </td>
      <td>
        ${reading.location}
      </td>
      <td>
        ${reading.weather}
      </td>
      <td>
        ${reading.windspeed}
      </td>
    </tr>
    #{/list}
    </tbody>
  </table>
</div>