#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<div class="content box">
  <table class="table">
    <thead class="title">
    <tr>
      <th>${station.name}</th>
      <th>Weather</th>
      <th>Temperature</th>
      <th>Wind</th>
      <th>Pressure</th>
      </thead>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Lat: ${station.latitude}<br>
        Lon: ${station.longitude}
      </td>
      <td>${station.getLastReading().getWeather()}</td>
      <td>
        ${station.getLastReading().temperature} Celsius (C)<br>
        ${station.getLastReading().getFahrenheit()} Fahrenheit (F)
      </td>
      <td>
        ${station.getLastReading().getBeaufort()} bft<br>
        ${station.getLastReading().getWindCompass()}<br>
        Feels like: ${station.getLastReading().getRealFeel()} (C)
      </td>
      <td>${station.getLastReading().pressure} hPa</td>
    </tr>
    </tbody>
  </table>
  <a href="/stations/${station.id}" class="icon has-text-primary">
    <i class="fas fa-folder"></i>
  </a>
  <a href="/dashboard/deleteStation/${station.id}" class="icon has-text-danger">
    <i class="fas fa-trash"></i>
  </a>
</div>
#{/list}

<h2 class="subtitle">
  Add a new Station
</h2>
#{addstation /}