#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}


<div class="content box">
    <table class="table">
        <thead class="title">
        <tr class="sunny has-text-centered">
            <th class="has-text-link">Location <i class="fas fa-location-crosshairs main-icon"></i></th>
            <th class="has-text-link">Weather <i class="fa fa-cloud-sun main-icon"></i></th>
            <th class="has-text-link">Temperature <i class="fas fa-temperature-high main-icon"></i></th>
            <th class="has-text-link">Wind <i class="fa fa-wind main-icon"></i></th>
            <th class="has-text-link">Pressure <i class="fa fa-layer-group main-icon"></i></th>
            </th>
        </tr>
        </thead>
        <tbody class="has-text-white has-background-link-dark">

        #{list items:stations, as:'station'}

        <tr class="table-body-rows">
            <td>
                <div class="box title sunny column">
                    <h1 class="title is-4 has-text-link-dark has-text-centered">${station.name}</h1>
                    <p class="box subtitle is-6">
                        Latitude: ${station.latitude}<br>
                        Longitude: ${station.longitude}
                    </p>
                </div>
                <div class="subtitle is-6">
                    <span>
                        <a href="/stations/${station.id}" class="button is-small is-primary is-light has-text-primary">
                            <i class="fas fa-door-open"></i> Open Station
                        </a>
                    </span>
                    <span>
                        <a href="/dashboard/deleteStation/${station.id}"
                           class="button is-small is-danger is-light has-text-danger">
                            <i class="fas fa-explosion"></i> Destroy Station
                        </a>
                    </span>
                </div>
            </td>

            #{latestreading station:station /}

        </tr>

        #{/list}

        </tbody>
    </table>
</div>

<h2 class="subtitle">
    Add a new Station
</h2>

#{addstation /}