#{extends 'main.html' /}
#{set title:'login' /}
#{welcomemenu id:"login"/}
<section class="content box">
    <div class="columns">
        <div class="column is-half">
            <form action="/authenticate" method="POST">
                <h3 class="subtitle has-text-link-dark">Log-in</h3>
                <div class="field">
                    <label class="label has-text-link-dark">Email</label>
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="email" placeholder="Email" name="email" required>
                        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label has-text-link-dark">Password</label>
                    <p class="control has-icons-left">
                        <input class="input is-rounded" placeholder="Password" type="password" name="password" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user-secret"></i>
                        </span>
                    </p>
                </div>
                <button class="button is-link">Login</button>
            </form>
        </div>
    </div>
</section>
