<!DOCTYPE html>
<html>
  <head>
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/dd084b05a9.js" crossorigin="anonymous"></script>
  </head>
  <body class="container">
    <div class="hero is-info is-small">
      <div class="hero-body">
        <p class="title">
          Welcome to WeatherTop!
          <i class="fa fa-cloud"></i>
          <i class="fa fa-sun"></i>
          <i class="fa fa-cloud-rain"></i>
          <i class="fa fa-snowflake"></i>
          <i class="fa fa-cloud-sun"></i>
          <i class="fa fa-cloud-showers-heavy"></i>
          <i class="fa fa-cloud-sun-rain"></i>
          <i class="fa fa-bolt"></i>


        </p>
      </div>
    </div>
    <section class="box">
      #{doLayout /}
    </section>
    <footer class="footer box">
      <div class="content has-text-centered">
        <p>
          Copyright VG webdesign 2023
        </p>
      </div>
    </footer>
  </body>
</html>