#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box">
  <table class="table">
    <thead class="title">
    <tr>
      <th>${station.name} <i class="fas fa-location-crosshairs"></i></th>
      <th>Weather <i class="fa fa-cloud-sun"></i></th>
      <th>Temperature <i class="fas fa-temperature-high"></i></th>
      <th>Wind <i class="fa fa-wind"></i></th>
      <th>Pressure <i class="fa fa-layer-group"></i></th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Lat: ${station.latitude}<br>
        Lon: ${station.longitude}
      </td>
      <td>
        <i class="${station.getLastReading().getWeatherIcon()}"></i><br>
        ${station.getLastReading().getWeather()}
      </td>
      <td>
        ${station.getLastReading().temperature} Celsius (C)<br>
        ${station.getLastReading().getFahrenheit()} Fahrenheit (F)
      </td>
      <td>
        ${station.getLastReading().getBeaufort()} bft<br>
        ${station.getLastReading().getWindCompass()}<br>
        Feels like: ${station.getLastReading().getRealFeel()} (C)
      </td>
      <td>${station.getLastReading().pressure} hPa</td>
    </tr>
    </tbody>
  </table>

  <div>
    <h2 class="subtitle is-6">Submitted Readings for ${station.name}:</h2>
    #{listreadings station:station /}
  </div>
</div>
<h3 class="subtitle is-5">
  Add a new reading
</h3>
#{addreading station:station /}