#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box">
    <table class="table">
        <thead class="title">
        <tr class="sunny has-text-centered">
            <th class="has-text-link">${station.name} <i class="fas fa-location-crosshairs main-icon"></i></th>
            <th class="has-text-link">Weather <i class="fa fa-cloud-sun main-icon"></i></th>
            <th class="has-text-link">Temperature <i class="fas fa-temperature-half main-icon"></i></th>
            <th class="has-text-link">Wind <i class="fa fa-wind main-icon"></i></th>
            <th class="has-text-link">Pressure <i class="fa fa-layer-group main-icon"></i></th>
            </th>
        </tr>
        </thead>
        <tbody class="has-background-link-dark">
        <tr>
            <td>
                <p class="box subtitle is-6">
                    Latitude: ${station.latitude}<br>
                    Longitude: ${station.longitude}
                </p>
            </td>

            #{latestreading station:station /}

        </tr>
        </tbody>
    </table>

    <div>
        <h2 class="subtitle is-6">Submitted Readings for ${station.name}:</h2>
        #{listreadings station:station /}
    </div>
</div>
<h3 class="subtitle is-5">
    Add a new reading
</h3>
#{addreading station:station /}