#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box">
    <table class="table">
        <thead class="title">
        <tr class="sunny">
            <th class="has-text-link">${station.name} <i class="fas fa-location-crosshairs main-icon"></i></th>
            <th class="has-text-link">Weather <i class="fa fa-cloud-sun main-icon"></i></th>
            <th class="has-text-link">Temperature <i class="fas fa-temperature-half main-icon"></i></th>
            <th class="has-text-link">Wind <i class="fa fa-wind main-icon"></i></th>
            <th class="has-text-link">Pressure <i class="fa fa-layer-group main-icon"></i></th>
            </th>
        </tr>
        </thead>
        <tbody class="has-background-link-dark">
        <tr>
            <td>
                <p class="box subtitle is-6">
                    Lat: ${station.latitude}<br>
                    Lon: ${station.longitude}
                </p>

            </td>
            <td>
                <div class="box subtitle is-6">
                    <i class="${station.getLastReading().getWeatherIcon()}"></i><br>
                    ${station.getLastReading().getWeather()}
                </div>
            </td>
            <td>
                <div class="box subtitle is-6">
                    <p>
                        ${station.getLastReading().temperature} Celsius (C) <br>
                        ${station.getLastReading().getFahrenheit()} Fahrenheit
                    </p>
                    <p>
                        Minimum: ${station.minTemp} (C) <br>
                        Maximum: ${station.maxTemp} (C)
                    </p>
                    <p>
                        Trending <i class="${station.outputTempTrend()}"></i>
                    </p>
                </div>
            </td>
            <td>
                <div class="box subtitle is-6">
                    <p>
                        ${station.getLastReading().getBeaufort()} bft<br>
                        <i class="fas fa-compass"></i> ${station.getLastReading().getWindCompass()}
                    </p>
                    <p>
                        Feels like: ${station.getLastReading().getRealFeel()} (C)
                    </p>
                    <p>
                        Minimum: ${station.minWind} (km/h) <br>
                        Maximum: ${station.maxWind} (km/h)
                    </p>
                    <p>
                        Trending <i class="${station.outputWindTrend()}"></i>
                    </p>
                </div>
            </td>
            <td>
                <div class="box subtitle is-6">
                    <p>
                        ${station.getLastReading().pressure} hPa
                    </p>
                    <p>
                        Minimum: ${station.minPressure} (hPa) <br>
                        Maximum: ${station.maxPressure} (hPa)
                    </p>
                    <p>
                        Trending <i class="${station.outputPressureTrend()}"></i>
                    </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <h2 class="subtitle is-6">Submitted Readings for ${station.name}:</h2>
        #{listreadings station:station /}
    </div>
</div>
<h3 class="subtitle is-5">
    Add a new reading
</h3>
#{addreading station:station /}